.Limpay-teste{
    border:solid 2px transparent;
}

.Limpay-teste:hover{
    border-bottom:solid 2px #005dff ; 
    box-sizing: border-box;
    transition: 0.7s;
}

.navbar-toggler {
    width: 100px;
}

