.largura-cursosprofissionalizantes{
    width: 400px;
    box-sizing: content-box;
}

@media (max-width:578px) {
    .largura-cursosprofissionalizantes{
        width: 320px;
        box-sizing: content-box;
    }
}