.fundo-inicial{
    background-color: var(--cinza-final);
}

.c-texto-azul{
    color: #0F2A60;
}

.bg-icone{
    width: 64px;
    height: 64px;
    border-radius: 4px;
    background: linear-gradient(180deg, #17397C 0%, #0B111F 100%);
}

